%h2 Codeschool

%h4= @codeschool["user"]["username"]
%h4 Points #{@codeschool["user"]["total_score"]}
= @codeschool["user"]["total_score"]

%hr

- @codeschool["courses"]["completed"].each do |course|
  = course["title"]
  = image_tag course["badge"], size: "100"

%hr

%h2 Treehouse Badges
%h4= @treehouse["name"]
%h4 Points #{@treehouse["points"]["total"]}

- @treehouse["points"].each do |k, v|
  = k
  = v
  
%hr

- @treehouse["badges"].each do |badge|
  = badge["name"]
  = image_tag badge["icon_url"], size: "100"
  
%h2 Codewars
%h4 Javascript Kata Completed #{@codewars_javascript}
%h4 Latest Katas
- @katas.each do |kata|
  %h4= kata
  %hr

-#- @codewars["data"].each do |item|
  = item["name"]
