.navigation
  %ul.nav.navbar-nav
    - if current_user
      %h2= "Hello #{current_user.name}" 

    %li= link_to 'Home', root_path
    %li= link_to 'Courses', courses_path

    %li= link_to 'Sign in with Facebook', '/auth/facebook'
    - if logged_in?
      %li= link_to 'Sign out', signout_path
